@model IEnumerable<ProyectoPeriferia.Models.analista>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_ANALISTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_ANALISTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.N_CASO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TICKET)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_ANALISTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_ANALISTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N_CASO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TICKET)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
