@model ProyectoPeriferia.Models.cliente_externo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cliente_externo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORREO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_CASO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_CASO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
